body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.game-summary {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.homepage {
  color: white;
  display: flex;
  flex-direction: column;
}

.info-link{
  margin: 5px;
}

@media (min-device-width:800px) {
  .game-summary {
    width: 500px;
  }
}

.nav-links {
  display: flex;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 920px) {
  .mobile {
    display: initial;
  }
  .non-mobile {
    display: none;
  }
}